html, body {
    margin: 0;
    padding: 0;
  }
  #image {
   position:absolute;
   top:10px;
   left: 10px;
   z-index: 2;
  }
  p{
    postion: absolute;
    top:20px;
    left:10 px;
    z-index: 1;

  }
  canvas{
    postion:relative;
    width: 100vw !important;
    height: 100vw !important;
  }